.main-beginning{
    margin-left: 310px;
    width: 820px;
}
.main-style1{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    opacity: 0.8;
}
.main-style2{
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #152739;
}
.main-beginning-p1{
    margin-top: 31px;
    margin-bottom: 40px;
    width: 820px;
    height: 168px;
}

.main-img1 img{
    width: 814px;
    height: 366px;
    margin: 40px 313px 20px 313px;
}
.main-img1-p1{
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    opacity: 0.3;
}
.main-end{
    width: 820px;
    margin: 40px 313px 20px 313px;
}

.main-finish{
    width: 820;
    height: 221px;
    margin: 40px 313px 20px 313px;
}
.main-finish-p1{
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.777778px;
    color: #152739;    
}
.main-finish-p2{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #152739;
    mix-blend-mode: normal;
    opacity: 0.8;
}
.finish-input{
    display: flex;
    margin-bottom: 65px;
}
.finish-email{
    width: 431px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #D4D8DF;
    border-radius: 3px;
    margin-right: 16px;
}
.finish-btn1{
    border: none;
    background: #3CC8AE;
    box-shadow: 0px 22px 34px rgba(60, 200, 174, 0.5);
    border-radius: 3px;
    width: 159px;
    height: 52px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.social-media2{
    display: flex;
}
.vano{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    margin-left: 217px;
    color: #152739;
    opacity: 0.4;
    
}
.main-end{
    // height: 591px;
}
.news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.news-p1{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1px;
    color: #152739;    
}
.news-a{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    // margin-left: 507px;
    letter-spacing: -0.2px;   
    color: #3CC8AE;
    opacity: 0.9;
}
.end-images{
    display: flex;
}
.end-p1{
    margin-top: 19px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #152739;
    opacity: 0.4;
}
.end-p2{
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: -0.403846px;
    color: #000000;  
    margin-bottom: 14px;  
}
.end-a{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.2px;
    color: #3CC8AE;
    opacity: 0.9;
}
.end-img2{
    margin-left: 32px;
    margin-right: 32px;
}
